---
import { Icon } from 'astro-icon'
import { SITE_TITLE } from '../config';
---

<header class="mb-4  p-0 flex flex-row justify-between items-center py-4">
	<h2 class="text-lg font-bold">
		{SITE_TITLE}
	</h2>
	<nav class="flex flex-row justify-between gap-x-8 items-center">
	  <button id="theme-toggle" class="outline-none"><Icon name="fluent:dark-theme-20-filled" class="w-7 text-white"/></button>
	</nav>
</header>

<script>
 const setThemeBasedOnLocalStorage = () => {
   if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
	 document.documentElement.classList.add('dark')
   } else {
	 document.documentElement.classList.remove('dark')
   }
 };
 setThemeBasedOnLocalStorage();
 const button = document.getElementById('theme-toggle');
 button.addEventListener('click', () => {
   localStorage.theme = localStorage.theme === "dark" ? "light" : "dark";
   setThemeBasedOnLocalStorage();
 });
</script>
